@media (max-width: 1024px) {
  .blog-post {
    &__container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 40px;
    }
    
    &__header {
      margin-bottom: 40px;
    }

    &__body-grid {
      gap: 40px; 
      grid-template-columns: 1.4fr 1fr;
      position: relative;
      align-items: start;
    }

    &__main-content {
      min-width: 0;
      max-width: 100%;
      overflow: hidden;
    }

    &__sidebar {
      position: sticky;
      top: 40px;
      align-self: start;
      justify-self: end;
      height: fit-content;
      min-width: 0;
      max-width: 300px;
      width: 100%;
    }

    &__hero {
      width: 100%;
      height: auto;
      margin-bottom: 24px;
    }

    &__hero-image {
      width: 100%;
      height: auto;
      max-width: 100%;
    }

    &__content {
      max-width: 100%;
    }
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .blog-post {
    &__container {
      padding: 0 24px;
    }

    &__body-grid {
      gap: 30px;
      grid-template-columns: 1.4fr 1fr;
      position: relative;
      align-items: start;
    }

    &__sidebar {
      position: sticky;
      top: 40px;
      align-self: start;
      justify-self: end;
      height: fit-content;
      min-width: 0;
      max-width: 280px;
      width: 100%;
    }

    &__hero {
      width: 100%;
      height: auto;
    }
  }
}



@media (max-width: 768px) {
  .blog-post {
    padding-top: 28px;

    &__container {
      padding: 0 24px;
    }

    &__title {
      font-size: 2.5rem;
    }

    &__body-grid {
      display: flex !important;
      flex-direction: column !important;
      gap: 40px;
    }

    &__main-content {
      order: -1 !important;
    }

    &__sidebar {
      order: 1 !important;
      position: static !important;
      margin-top: 20px;
      padding-top: 40px;
      border-top: 1px solid $gray-200;
    }

    &__hero {
      width: 100%;
      height: auto;
    }

    &__related-list {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }
}
