@import 'variables';
@import 'mixins/animations';
@import 'mixins/navbar-hamburger';
@import 'mixins/buttons';
@import 'mixins/cards';
@import 'mixins/tags';

@import 'responsive/desktop';
@import 'responsive/tablet';
@import 'responsive/mobile';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: $white;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: $white;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark-blue;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
